@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.divstyle{
    top: 0;
    position: sticky;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    border:1px solid black;
    padding:3rem 5px 1px 5px ;
    height: 1vh;
    overflow-y:hidden;
    overflow-x: hidden;
    background-color:#1f1f1f;
    transition: height ease-in-out  .5s,padding-top ease-in-out .5s;
}
.row-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.divstyle-onclick{
    padding-top: 5px;
    height: 12vw;
}
.svgstyle{
    margin:5px 15px;
}
.main-header{
    color: #f53636;
    font-size:2rem;
    margin-left: 0vw;
    text-align: end;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.search-icon{
    position: relative;
    left: 42%;
}

.icon-button{
    display: none;
}

@media screen and (min-width:300px) and  (max-width: 700px) {

    .icon-button{
        margin-right: 50vw;
    }
    .divstyle{
        padding: 50px 5px 1px 5px ;
    }
    .divstyle-onclick{
        padding-top: 5px;
        height: 30vw;
    }
    .search-icon{
        left: 31%;
    }

}