@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');


*{
	text-align: center;
}
div.column-item {
	overflow-x: hidden;
    background-color: #111111;
}
.class-paddind{
	padding: 1.5em;
}
div.column-item h2.title{
	color: #fff;
	text-align: start;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Mukta', sans-serif;
	line-height: 3;
}
div.column-item.border-bottom {
	padding-bottom: 1.5em;
	border-bottom: 1px solid #eee
}

div.card-title-limit p.title {
	width: 166.5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

/*table.table-info {*/
/*	width: 100%;*/
/*	border: 0*/
/*}*/

/*table.table-info td,*/
/*table.table-info th {*/
/*	padding: .3em*/
/*}*/

/*table.table-info th {*/
/*	color: #b9cad8*/
/*}*/

div.cards,
div.episode-scroller {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch
}

div.cards div.card-content,
div.episode-scroller div.card-content {
	padding: .5rem
}

div.cards div.card,
div.episode-scroller div.card {
	width: 19%;

	margin-bottom: 1rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent
}

div.cards div.card div.episode-meta,
div.episode-scroller div.card div.episode-meta {
	line-height: 1rem;
	color: rgb(0, 119, 230);
}

div.cards div.card div.episode-meta span.episode-title,
div.episode-scroller div.card div.episode-meta span.episode-title {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
	font-size: 1rem;
	color: #fff;
}


.has-text-danger{
	color: red;
	font-size: 0.9rem;

}
div.cards div.card div.episode-meta span.episode-num,
div.episode-scroller div.card div.episode-meta span.episode-num {
	display: block;
	font-weight: 700;
	font-size: .8rem;
	color: #97b3c5
}

div.card a:hover p.title {
	text-decoration: none;
	color: #000
}

div.card a:hover small {
	text-decoration: none
}

ul.search-results li {
	margin: 2rem
}


div.scroller {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

div.scroller div.card {
	border-radius: .5em
}


.latest-anime-div h1{
	color: white;
	width: 100vw;
	text-align: left;
	font-family: 'Mukta', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}
.latest-anime-cards{
	display: flex;
	background-color: #111111;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;

}

.latest-anime-div .latest-cards{
	margin: 1vh 1vw;
	
}
.latest-anime-cards figure{
	width: 28vh;
	border: 4px solid grey;


}

.latest-anime-cards figure img{
	width: 28vh;
	height: 250px;
}
.latest-anime-cards figure figcaption{
	color: white;
	font-family: 'Odibee Sans', cursive;
}

/* Mobile */
@media only screen and (max-width:500px) {
	div.episode-scroller {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch
	}
	div.episode-scroller div.card {
		width: 70%
	}
	div.cards {
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
	div.cards div.card {
		width: 100%
	}
	.latest-anime-cards figure{
		width: 50vw;
	}
	
	.latest-anime-cards figure img{
		width: 50vw;

	}
	

}


/* hd mobile */
@media only screen and (max-width:650px) {
	div.scroller {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		overflow-x: auto
	}
	div.scroller div.anime-box,
	div.scroller div.card {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 80%;
		margin-right: 2rem;
		border-radius: .5em;
		margin-bottom: 2rem
	}
	/* .latest-anime-cards .latest-cards figure{
		width: 100vw;
		height: 320px;
	}

	.latest-anime-cards .latest-cards  figure img{
		width: 100vw;
	} */

}


/* @tablet */
@media only screen and (max-width:769px) {
	div.card-title-limit p.title {
		width: auto;
		white-space: normal;
		overflow: visible;
		text-overflow: clip
	}
	/* .latest-anime-cards .latest-cards figure{
		width: 20vw;
		height: 320px;
	}

	.latest-anime-cards .latest-cards figure img{
		width: 20vw;
	} */
	
}

/* @small screen laptop */
@media only screen and (max-width:1087px) {
	div.episode-scroller {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch
	}
	div.episode-scroller div.card {
		margin: .5rem;
		width: 40%
	}
	.hero.is-black div.hero-body {
		padding: 1rem!important
	}
	.latest-anime-cards{
		justify-content: center;
		align-items: center;
	}
	
	.latest-anime-cards{
		height: 400px;
		letter-spacing: 1px;
		flex-direction: column;
		flex-wrap: no-wrap;
		overflow-y: scroll;
	}
	/* .latest-anime-cards .latest-cards figure{
		width: 20vw;
		height: 320px;
	}

	.latest-anime-cards .latest-cards figure img{
		width: 20vw;
	} */

}


/* @normal screen laptop */
@media only screen and (max-width:1279px) {
	div.scroller {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch
	}
	div.scroller div.anime-box,
	div.scroller div.card {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 30%;
		margin-bottom: 2rem
	}
	.latest-anime-cards{
		padding: 0;
	}
	
	
}


/* @large screen laptop */
@media only screen and (max-width:1400px) {
	
	
	

}


