<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>Anime Simple - Watch Free Dubbed & Subbed Anime Online</title>
    <meta name="description"
        content="Watch thousands of dubbed and subbed anime episodes in HD for free on Anime Simple, the best anime streaming website!">
    <meta name="keywords"
        content="best anime, watch dub, watch sub, anime simple, anime dubbed, subbed and dubbed anime site, watch dub anime, english anime videos, dub episodes,sub episodes, anime online, stream anime, watch anime free">

    <link rel="stylesheet" href="/public/css/main.min.css?v=20210121">
    <link rel="stylesheet" href="/public/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="preload">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <base href="https://ww1.animesimple.com" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/public/img/favicons/safari-pinned-tab.svg" color="#ff6b6b">
    <link rel="shortcut icon" href="/public/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/public/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#1a535c">

    <script type="application/ld+json">
		{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Anime Simple",
        "url": "https://ww1.animesimple.com",
        "logo": "https://ww1.animesimple.com/public/img/logo-512-512.png",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://ww1.animesimple.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        },
        "sameAs": [
            "https://www.facebook.com/WatchAnimeSimple",
            "https://instagram.com/animesimpleofficial",
            "https://reddit.com/r/animesimple"
        ]
        }
	</script>

    <script type="622dd5af7041ea12ee9d7b6c-text/javascript">
		(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-93955973-1', 'auto');
        ga('send', 'pageview');
	</script>
    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark noroundedcorn animated">
        <div class="container">
            <div class="navbar-header">
                <a id="nav-logo" class="navbar-left navbar-brand" href="/">
                    <img src="/public/logo-25.png" height="35" alt="logo">
                </a>
                <a class="navbar-brand" href="/">
                    <h1 class="title">Anime Simple</h1>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-div"
                aria-controls="navbar-div" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-div">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-3">
                        <a href="/explore" class="nav-link navbaritem" id="navExplore"><i class="fa fa-star"
                                aria-hidden="true" style="margin-right: 0.5rem;"></i>Explore</a>
                    </li>
                    <li class="nav-item">
                        <a href="/random" class="nav-link navbaritem" id="navRandom"><i class="fa fa-random"
                                aria-hidden="true" style="margin-right: 0.5rem;"></i>Random</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a href="/login" class="nav-link navbaritem" id="navLogin"><i class="fa fa-sign-in"
                                aria-hidden="true"></i> Login</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right ml-1" id="search-div">
                <form class="form-inline" action="/search">
                    <div class="input-group pb-0" style="width: 100%;">
                        <input class="form-control" type="search" id="search-bar" name="q" placeholder="Search"
                            aria-label="Search" autocomplete="off" required style="width: 100%;">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit" aria-label="Search"><i
                                    class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="alert alert-info" role="alert">To save your watch history, rate & favourite anime, <a
                        href="/login#register">please register for a free account</a>!</div>
                <div class="card panel">
                    <div class="card-header">
                        <dt><i class="fa fa-certificate" aria-hidden="true"></i> Recently Added Episodes</dt>
                    </div>
                    <div class="card-body" id="card-body-recent">
                        <div class="owl-carousel owl-theme episode-carousel" id="recent-episodes-carousel">
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207178-mi-bao-zhi-guo-ona-5-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/1/8c87726b1a8c_352x220.jpg"
                                        alt="Watch The Country of Rare Treasure" title="The Country of Rare Treasure">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="The Country of Rare Treasure" class="card-title">The Country of Rare
                                            Treasure</h6>
                                        <small>
                                            <span>ONA</span>
                                            <span>
                                                <span class="badge badge-info">
                                                    Subbed
                                                </span>
                                            </span>
                                        </small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/203956-maoujou-de-oyasumi-episode-12-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/1/5ebafdf560b7_352x220.jpg"
                                        alt="Watch Sleepy Princess in the Demon Castle"
                                        title="Sleepy Princess in the Demon Castle">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Sleepy Princess in the Demon Castle" class="card-title">Sleepy
                                            Princess in the Demon Castle</h6>
                                        <small><span>Episode 12</span><span><span
                                                    class="badge badge-primary">Dubbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207176-fruits-basket-the-final-episode-6-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy" data-src="https://i.imgur.com/YvuUNnB.png"
                                        alt="Watch Fruits Basket: The Final" title="Fruits Basket: The Final">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Fruits Basket: The Final" class="card-title">Fruits Basket: The Final
                                        </h6>
                                        <small><span>Episode 6</span><span><span
                                                    class="badge badge-primary">Dubbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207175-mars-red-episode-6-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/1/dd9887f71660_352x220.jpg"
                                        alt="Watch Mars Red" title="Mars Red">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Mars Red" class="card-title">Mars Red</h6>
                                        <small><span>Episode 6</span><span><span
                                                    class="badge badge-primary">Dubbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207177-fumetsu-no-anata-e-episode-5-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/1/8ae8ef265b80_352x220.jpg"
                                        alt="Watch To Your Eternity" title="To Your Eternity">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="To Your Eternity" class="card-title">To Your Eternity</h6>
                                        <small><span>Episode 5</span><span><span
                                                    class="badge badge-info">Subbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207176-fruits-basket-the-final-episode-6-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy" data-src="https://i.imgur.com/YvuUNnB.png"
                                        alt="Watch Fruits Basket: The Final" title="Fruits Basket: The Final">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Fruits Basket: The Final" class="card-title">Fruits Basket: The Final
                                        </h6>
                                        <small><span>Episode 6</span><span><span
                                                    class="badge badge-info">Subbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207175-mars-red-episode-6-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/1/dd9887f71660_352x220.jpg"
                                        alt="Watch Mars Red" title="Mars Red">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Mars Red" class="card-title">Mars Red</h6>
                                        <small><span>Episode 6</span><span><span
                                                    class="badge badge-info">Subbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207174-odd-taxi-episode-6-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/1/cf1c8cab620b_352x220.jpg"
                                        alt="Watch Odd Taxi" title="Odd Taxi">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Odd Taxi" class="card-title">Odd Taxi</h6>
                                        <small><span>Episode 6</span><span><span
                                                    class="badge badge-info">Subbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207173-hige-wo-soru-soshite-joshikousei-wo-hirou-episode-6-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/1/cdad82793eb8_352x220.jpg"
                                        alt="Watch Hige wo Soru. Soshite Joshikousei wo Hirou."
                                        title="Hige wo Soru. Soshite Joshikousei wo Hirou.">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Hige wo Soru. Soshite Joshikousei wo Hirou." class="card-title">Hige
                                            wo Soru. Soshite Joshikousei wo Hirou.</h6>
                                        <small><span>Episode 6</span><span><span
                                                    class="badge badge-info">Subbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card h-100">
                                <a href="https://ww1.animesimple.com/watch/207172-itazuraguma-no-gloomy-episode-5-anime.html"
                                    class="h-100">
                                    <img class="card-img owl-lazy" data-src="https://i.imgur.com/YvuUNnB.png"
                                        alt="Watch GLOOMY The Naughty Grizzly" title="GLOOMY The Naughty Grizzly">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="GLOOMY The Naughty Grizzly" class="card-title">GLOOMY The Naughty
                                            Grizzly</h6>
                                        <small><span>Episode 5</span><span><span
                                                    class="badge badge-info">Subbed</span></span></small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <script type="622dd5af7041ea12ee9d7b6c-text/javascript">
							$(document).ready(function(){
            $('#recent-episodes-carousel').owlCarousel({
                loop:true,
                dots:false,
                nav:false,
                margin: 5,
                autoplay: true,
                lazyLoad: true,
                autoplayHoverPause: true,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        dots: true
                    },
                    450:{
                        items:2
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:4
                    }
                }
            });
        });
						</script>
                    </div>
                </div>

                <div class="card panel">
                    <div class="card-header">
                        <dt>
                            <i class="fa fa-star" aria-hidden="true"></i> Most Popular
                        </dt>
                    </div>
                    <div class="card-body">
                        <div class="owl-carousel" id="popular-carousel">
                            <div class="card item h-100">
                                <a class="h-100" href="https://ww1.animesimple.com/series/61-death-note-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/61.jpg" alt="Death Note'"
                                        style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Death Note" class="card-title">Death Note</h6>
                                        <small><span>TV</span><span>8.63&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card item h-100">
                                <a class="h-100"
                                    href="https://ww1.animesimple.com/series/1146-attack-on-titan-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/1146.jpg" alt="Attack on Titan'"
                                        style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Attack on Titan" class="card-title">Attack on Titan</h6>
                                        <small><span>TV</span><span>8.5&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card item h-100">
                                <a class="h-100"
                                    href="https://ww1.animesimple.com/series/63-fullmetal-alchemist-brotherhood-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/63.jpg"
                                        alt="Fullmetal Alchemist: Brotherhood'" style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Fullmetal Alchemist: Brotherhood" class="card-title">Fullmetal
                                            Alchemist: Brotherhood</h6>
                                        <small><span>TV</span><span>9.17&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card item h-100">
                                <a class="h-100"
                                    href="https://ww1.animesimple.com/series/660-sword-art-online-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/660.jpg" alt="Sword Art Online'"
                                        style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Sword Art Online" class="card-title">Sword Art Online</h6>
                                        <small><span>TV</span><span>7.22&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card item h-100">
                                <a class="h-100"
                                    href="https://ww1.animesimple.com/series/2059-one-punch-man-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/2059.jpg" alt="One Punch Man'"
                                        style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="One Punch Man" class="card-title">One Punch Man</h6>
                                        <small><span>TV</span><span>8.55&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card item h-100">
                                <a class="h-100"
                                    href="https://ww1.animesimple.com/series/2238-my-hero-academia-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/2238.jpg"
                                        alt="My Hero Academia'" style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="My Hero Academia" class="card-title">My Hero Academia</h6>
                                        <small><span>TV</span><span>8.05&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card item h-100">
                                <a class="h-100" href="https://ww1.animesimple.com/series/1598-tokyo-ghoul-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/1598.jpg" alt="Tokyo Ghoul'"
                                        style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Tokyo Ghoul" class="card-title">Tokyo Ghoul</h6>
                                        <small><span>TV</span><span>7.8&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                            <div class="card item h-100">
                                <a class="h-100" href="https://ww1.animesimple.com/series/2700-naruto-anime.html">
                                    <img class="card-img h-100 owl-lazy"
                                        data-src="https://cdn.animeapi.com/images/anime/2700.jpg" alt="Naruto'"
                                        style="height:100%">
                                    <div class="card-img-bottom-overlay">
                                        <h6 title="Naruto" class="card-title">Naruto</h6>
                                        <small><span>TV</span><span>7.92&nbsp;<i title="MAL Rating"
                                                    class="fa fa-star ranking-star"
                                                    aria-hidden="true"></i></span></small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="622dd5af7041ea12ee9d7b6c-text/javascript">
					$(document).ready(function(){
    $('#popular-carousel').owlCarousel({
        loop:true,
        dots:false,
        nav:false,
        margin: 5,
        lazyLoad:true,
        autoplay: true,
        autoplayHoverPause: true,
        responsiveClass:true,
        responsive:{
            0:{
                items:2
            },
            450:{
                items:3
            },
            600:{
                items:4
            },
            1000:{
                items:5
            }
        }
    });
});
				</script>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8" id="main-column">
                            <div id="s-animesimple"></div>
                            <script type="622dd5af7041ea12ee9d7b6c-text/javascript">
								(function(v,d,o,ai){ai=d.createElement('script');ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, '//a.vdo.ai/core/s-animesimple/vdo.ai.js');
							</script>
                            <div class="card panel">
                                <div class="card-header">
                                    <dt><i class="fa fa-fire" aria-hidden="true"></i> Trending Series</dt>
                                </div>
                                <div class="card-body">
                                    <div id="panel-body-ongoing">
                                        <div class="media sizing-panels animated cutoff-fix float-effect">
                                            <a
                                                href="https://ww1.animesimple.com/series/5082-boku-no-hero-academia-5th-season-anime.html">
                                                <img class="mr-3 anime-thumb" loading="lazy"
                                                    src="https://cdn.animeapi.com/images/anime/5082.jpg"
                                                    style="width: 70px;" alt="Boku no Hero Academia 5th Season">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a
                                                        href="https://ww1.animesimple.com/series/5082-boku-no-hero-academia-5th-season-anime.html">Boku
                                                        no Hero Academia 5th Season</a></h4>
                                                <p class="media-text">Fifth season of Boku no Hero Academia.</p>
                                            </div>
                                        </div>
                                        <div class="media sizing-panels animated cutoff-fix float-effect">
                                            <a
                                                href="https://ww1.animesimple.com/series/5125-ijiranaide-nagatoro-san-anime.html">
                                                <img class="mr-3 anime-thumb" loading="lazy"
                                                    src="https://cdn.animeapi.com/images/anime/5125.jpg"
                                                    style="width: 70px;" alt="Ijiranaide, Nagatoro San">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a
                                                        href="https://ww1.animesimple.com/series/5125-ijiranaide-nagatoro-san-anime.html">Ijiranaide,
                                                        Nagatoro San</a></h4>
                                                <p class="media-text">High schooler Hayase Nagatoro loves to spend
                                                    her free time doing one thing, and that is to bully her Senpai!
                                                    After Nagatoro and her friends stumble upon the aspiring
                                                    artist's drawings, they find enjoyment in ...</p>
                                            </div>
                                        </div>
                                        <div class="media sizing-panels animated cutoff-fix float-effect">
                                            <a
                                                href="https://ww1.animesimple.com/series/5114-how-not-to-summon-a-demon-lord--anime.html">
                                                <img class="mr-3 anime-thumb" loading="lazy"
                                                    src="https://cdn.animeapi.com/images/anime/5114.jpg"
                                                    style="width: 70px;" alt="How Not to Summon a Demon Lord Ω">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a
                                                        href="https://ww1.animesimple.com/series/5114-how-not-to-summon-a-demon-lord--anime.html">How
                                                        Not to Summon a Demon Lord Ω</a></h4>
                                                <p class="media-text">Second season of Isekai Maou to Shoukan Shoujo
                                                    no Dorei Majutsu.</p>
                                            </div>
                                        </div>
                                        <div class="media sizing-panels animated cutoff-fix float-effect">
                                            <a
                                                href="https://ww1.animesimple.com/series/4984-attack-on-titan-final-season-anime.html">
                                                <img class="mr-3 anime-thumb" loading="lazy"
                                                    src="https://cdn.animeapi.com/images/anime/4984.jpg"
                                                    style="width: 70px;" alt="Attack on Titan Final Season">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a
                                                        href="https://ww1.animesimple.com/series/4984-attack-on-titan-final-season-anime.html">Attack
                                                        on Titan Final Season</a></h4>
                                                <p class="media-text">Gabi Braun and Falco Grice have been training
                                                    their entire lives to inherit one of the seven titans under
                                                    Marley&#39;s control and aid their nation in eradicating the
                                                    Eldians on Paradis. However, just as ...</p>
                                            </div>
                                        </div>
                                        <div class="media sizing-panels animated cutoff-fix float-effect">
                                            <a
                                                href="https://ww1.animesimple.com/series/5011-the-promised-neverland-2nd-season-anime.html">
                                                <img class="mr-3 anime-thumb" loading="lazy"
                                                    src="https://cdn.animeapi.com/images/anime/5011.jpg"
                                                    style="width: 70px;" alt="The Promised Neverland Season 2">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a
                                                        href="https://ww1.animesimple.com/series/5011-the-promised-neverland-2nd-season-anime.html">The
                                                        Promised Neverland Season 2</a></h4>
                                                <p class="media-text">Second season of Yakusoku no Neverland.</p>
                                            </div>
                                        </div>
                                        <div class="media sizing-panels animated cutoff-fix float-effect">
                                            <a
                                                href="https://ww1.animesimple.com/series/5001-re-zero-kara-hajimeru-isekai-seikatsu-2nd-season-part-2-anime.html">
                                                <img class="mr-3 anime-thumb" loading="lazy"
                                                    src="https://cdn.animeapi.com/images/anime/5001.jpg"
                                                    style="width: 70px;"
                                                    alt="Re:Zero kara Hajimeru Isekai Seikatsu 2nd Season Part 2">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a
                                                        href="https://ww1.animesimple.com/series/5001-re-zero-kara-hajimeru-isekai-seikatsu-2nd-season-part-2-anime.html">Re:Zero
                                                        kara Hajimeru Isekai Seikatsu 2nd Season Part 2</a></h4>
                                                <p class="media-text">Second half of Re:Zero kara Hajimeru Isekai
                                                    Seikatsu 2nd Season.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" id="side-column">


                            <div class="card panel">
                                <div class="card-header">
                                    <dt><i class="fa fa-bullhorn" aria-hidden="true"></i> Announcements</dt>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        <b>February 21, 2021 Update</b><br>
                                        Thank you for continuing to support Anime Simple, we've implemented some more
                                        new features!<br>
                                        <b> Changelog:</b>
                                        <ul>
                                            <li>Added DMCA support.</li>
                                            <li>Removed intrusive ads.</li>
                                        </ul>
                                        Thank you for continuing to use Anime Simple. <br>
                                        Interested in supporting the site? Consider donating via <a
                                            href="#crypto">crypto</a> - more details in our <a
                                            href="https://discord.gg/f8Bdhzj">discord</a>!
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer">
        <p><a href='/'>Home</a> &bull; <a href='/series-list'>Series List</a> &bull; <a href='/movies-list'>Movie
                List</a>
            &bull; <a href='/about#copyright'>Copyright</a> &bull; <a href='/about#privacy'>Privacy Policy</a> &bull; <a
                href='/about#feedback'>Feedback/Report a Problem</a> &bull; <a href='/about'>About</a></p>
        <h2 style="font-size: 1em;">AnimeSimple.com | Watch thousands of dubbed and subbed anime episodes in HD for free
            on Anime Simple, the best anime streaming website!</h2>
        <div class="social-footer">
            <a title="Facebook" href="https://facebook.com/WatchAnimeSimple" rel="noopener" class="social-link"
                target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a title="Instagram" href="https://instagram.com/animesimpleofficial/" rel="noopener" class="social-link"
                target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a title="Discord" href="https://discord.gg/f8Bdhzj" rel="noopener" class="social-link" target="_blank">
                <svg style="height: 26px;text-align: center;vertical-align: top;" viewBox="0 0 48 48">
                    <path
                        d="M40 12s-4.586-3.59-10-4l-.488.977C34.406 10.176 36.652 11.89 39 14c-4.047-2.066-8.04-4-15-4-6.96 0-10.953 1.934-15 4 2.348-2.11 5.02-4.016 9.488-5.023L18 8c-5.68.535-10 4-10 4s-5.121 7.426-6 22c5.16 5.953 13 6 13 6l1.64-2.184C13.856 36.848 10.716 35.121 8 32c3.238 2.45 8.125 5 16 5s12.762-2.55 16-5c-2.715 3.121-5.855 4.848-8.64 5.816L33 40s7.84-.047 13-6c-.879-14.574-6-22-6-22zM17.5 30c-1.934 0-3.5-1.79-3.5-4s1.566-4 3.5-4 3.5 1.79 3.5 4-1.566 4-3.5 4zm13 0c-1.934 0-3.5-1.79-3.5-4s1.566-4 3.5-4 3.5 1.79 3.5 4-1.566 4-3.5 4z" />
                </svg>
            </a>
        </div> <span>Like Anime Simple? Considering donating!</span><br>
        <span id="crypto">ETH <img src="/public/img/eth-diamond.png" height="25px" alt="ethereum logo">:
            <strong>0x11B6330ea45E057784CcaEc3BD2FAb12C282eFef</strong></span>
        <hr style="width: 50%;">
        Copyright 2021 <br>
        <i>Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated
            third parties.</i>
    </footer>
    <div class="darkmode-sticky">
        <div id="dark-toggle" class="darkmode card-b fa fa-moon-o"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
        type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"
        type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
        integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"
        type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <script src="https://use.fontawesome.com/7deb11e3f4.js" type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <script src="/public/js/owl.carousel.min.js" type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <script src="/public/js/jquery.autocomplete.js" type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <script src="/public/js/app.js" type="622dd5af7041ea12ee9d7b6c-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="622dd5af7041ea12ee9d7b6c-|49" defer=""></script>
    <script type="text/javascript">
        (function () { window['__CF$cv$params'] = { r: '64dc24aafb532e7c', m: '7048597b9d7b383c4b5e982e903640e1a60b6653-1620743825-1800-AdjzCorz1s4rcUoU7q4+NgdJCNGcx0ADI1COdfvo+kx3a3mQtdMN4Haaf+bjhXncmP9cRId7Yqyg9N1X5BJy7fLRmRd+R9pOkpGYDQCjAN+0yYUtUz1JLdLQCrzWVru3Fw==', s: [0x84b9587f35, 0x48c0bdc920], } })();
    </script>
</body>

</html>