<div class="columns is-mobile scroller">
    <div class="column is-2-desktop anime-box"><a
            href="https://www1.animeultima.to/a/fatestay-night-movie-heavens-feel-iii-spring-song_171277">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3144/1w1vzr6eWQ4pMlwepRXoRPYVaBap9lLlPfjDnWPy.webp&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Fate/stay night Movie: Heaven's Feel III: Spring
                            Song</span> <span class="anime-details is-size-7 has-text-white">Movie
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a href="https://www1.animeultima.to/a/shiguang-daili-ren_164621">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3143/U4DHSOLuwnh9NedUKC1viDdHXNprfqr2v3fY0jNN.webp&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Shiguang Daili Ren</span> <span
                            class="anime-details is-size-7 has-text-white">ONA
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a
            href="https://www1.animeultima.to/a/dungeon-ni-deai-wo-motomeru-no-wa-machigatteiru-darou-ka-iii-ova_863374">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3142/mZLP3WnmSGq1IZM8tFfFsVntnL1rZo7f.jpg&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou
                            ka III OVA</span> <span class="anime-details is-size-7 has-text-white">OVA
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a
            href="https://www1.animeultima.to/a/kimetsu-no-yaiba-movie-mugen-ressha-hen_773951">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3141/53OjglA2KvsybUH4KRB8qFJgI1bMNnVMlJIBYEBh.jpeg&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div class="has-text-right" style="padding: 0.3em;"><span class="tag is-black"
                            style="font-weight: bold;"> 9.62 <i class="fas fa-star"
                                style="color: rgb(249, 168, 37) !important; margin-left: 3px;"></i></span></div>
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Kimetsu no Yaiba Movie: Mugen Ressha-hen</span> <span
                            class="anime-details is-size-7 has-text-white">Movie
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a href="https://www1.animeultima.to/a/wanmei-shijie_150064">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3140/P2G3tZAkJHbX76XiKNmh6ryo5nE1Plyc.jpg&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Wanmei Shijie</span> <span
                            class="anime-details is-size-7 has-text-white">ONA
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a
            href="https://www1.animeultima.to/a/uragiri-wa-boku-no-namae-wo-shitteiru_881855">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3139/CtTdcM49rOfaxVo5LTU4sMZLGYOuWbhI7FjMVqJC.jpeg&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Uragiri wa Boku no Namae wo Shitteiru</span> <span
                            class="anime-details is-size-7 has-text-white">TV Series
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a
            href="https://www1.animeultima.to/a/hackthe-movie-sekai-no-mukou-ni_251948">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3138/SXugAridj9g9GfEsyGAanFXxqz8XrEsuUPS64LDn.jpeg&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">.hack//The Movie: Sekai no Mukou ni</span> <span
                            class="anime-details is-size-7 has-text-white">Movie
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a href="https://www1.animeultima.to/a/midori-no-hibi_341048">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3137/UwYzip2xM3OQcvf9O7jjDcW6bUqYxuIE1IubyoMs.jpeg&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Midori no Hibi</span> <span
                            class="anime-details is-size-7 has-text-white">TV Series
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a href="https://www1.animeultima.to/a/hackgu-returner_643872">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3136/x9G06gq9DyPlRGGHquRJAexgkU3cDmhDaC4bzmgb.webp&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">.hack//G.U. Returner</span> <span
                            class="anime-details is-size-7 has-text-white">OVA
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a href="https://www1.animeultima.to/a/kimetsu-no-yaiba-specials_743288">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3135/skRcVMcAn0cOsuIee3oVY9aLSDjch6G00nwuXtnP.webp&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Kimetsu no Yaiba Specials</span> <span
                            class="anime-details is-size-7 has-text-white">OVA
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a href="https://www1.animeultima.to/a/koro-sensei-quest_607591">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3134/jWGU10Ql2X7IA9Xx8HvOc5IAAPJt0DAKdI6DdJOh.webp&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Koro-sensei Quest!</span> <span
                            class="anime-details is-size-7 has-text-white">ONA
                        </span></div>
                </div>
            </figure>
        </a></div>
    <div class="column is-2-desktop anime-box"><a
            href="https://www1.animeultima.to/a/beyblade-burst-dynamite-battle_310320">
            <figure class="image is-2by3"
                style="background: url(&quot;https://cdn.animeultima.tv/cover-photo/3133/6PNL47aLqEC0zs44ifn32mVIbMej42Kx7LlTqCv6.jpeg&quot;) center center / cover rgb(0, 0, 0); border: 5px solid rgb(73, 79, 90); box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px inset;">
                <div
                    style="display: flex; flex-direction: column; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;">
                    <div style="flex-grow: 1;"></div>
                    <div
                        style="background: rgba(0, 0, 0, 0.6); text-shadow: rgb(0, 0, 0) 1px 1px 1px; padding: 0.5em; line-height: 16px;">
                        <span class="anime-title has-text-white">Beyblade Burst Dynamite Battle</span> <span
                            class="anime-details is-size-7 has-text-white">ONA
                        </span></div>
                </div>
            </figure>
        </a></div>
</div>